/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.imagem-logo {
  margin: 3%;
  height: 46px;
}

.grafitte {
  background-color: #373737;
}

.grafitte-hover {
  background-color: #373737;
}

.grafitte-hover:hover {
  background-color: #212121;
}

.texto-branco {
  color: white !important;
}

.opacidade90 {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.meu-azul {
  background-color: lightblue;
}

.imagem-social{
  position: 0.1%;
  height: 20px;
}

.texto-teal-hover:hover {
  color: #009688 !important;
}

.texto-white-hover:hover {
  color: #ffffff !important;
}

.opacidade80 {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.f-hover:hover{
  position:0.1%;
  height: 20px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.opacidade60 {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.custom-button {
  width: 100%;
}

.rodape {
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.custom-container {
    padding-top: 32px;
    /* padding-bottom: 116px; */
    margin: auto;
}

@media screen and (min-width: 600px) {
    .custom-container {
        padding-bottom: 116px;
    }
    .rodape {
        position: fixed;
    }
}
